<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ID" value="H30004" />
		<add key="PW" value="000" />
		<add key="X1" value="3087" />
		<add key="Y1" value="272" />
		<add key="R1" value="380" />
		<add key="R2" value="100" />
		<!--리스트1 클릭 Y + 18씩-->
		<add key="X2" value="165" />
		<add key="Y2" value="325" />
		<!--팝업 조회-->
		<add key="X3" value="1000" />
		<add key="Y3" value="278" />
		<!--리스트2 클릭 Y + 20씩-->
		<add key="X4" value="640" />
		<add key="Y4" value="398" />
		<!--팝업 확인-->
		<add key="X5" value="815" />
		<add key="Y5" value="524" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="Tesseract" switchValue="Verbose">
				<listeners>
					<clear />
					<add name="console" />
					<!-- Uncomment to log to file
				<add name="file" />
				-->
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="console" type="System.Diagnostics.ConsoleTraceListener" />

			<!-- Uncomment to log to file
		<add name="file"
		   type="System.Diagnostics.TextWriterTraceListener"
		   initializeData="c:\log\tesseract.log" />
		-->
		</sharedListeners>
	</system.diagnostics>
</configuration>
